<% if @player.errors.any? %>
      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <p>Why Failed?: <%= msg %></p>
      <% end %>
      </ul>
<% end %>

<div class="form-group">
	<%= f.label :name,"Name" %>
	<%= f.text_field :name ,:class => "form-control"%>
		
</div>

<div class="form-group">
    <%= f.label :rank, "rank" %>
    <%= f.text_area :rank ,:class => "form-control"%>
</div>