<h1>World Badminton Players</h1>
<table class="table table-striped" >


Players Name
<tr>
<% @players.each do |player| %>
	<td><%= player.name %></td>
	<td>
  	<%= link_to 'Show' ,  player_path(player) ,:class => "btn btn-info"%>
 	<%= link_to 'Edit',  players_path(:id => player.id,:page => params[:page]) ,:class => "btn btn-primary" %>
 	<%= link_to 'Delete', player_path(player , :page => params[:page]), :method => :delete, :data => { :confirm => "Are you sure?"}, :class => "btn btn-danger" %>
  </td>
  </tr>
<% end %>
</table>
<%= paginate @players %>

<p>Please register your favorite player below </p>

<%= form_for @player do |f| %>
	<div class="form-group">
		<%= f.label :name,"Name" %>
		<%= f.text_field :name ,:class => "form-control"%>		
	</div>

	<div class="form-group">
	    <%= f.label :rank, "Rank" %>
	    <%= f.text_area :rank ,:class => "form-control"%>
	</div>

	<div class="form-group">
	    <%= f.label :age, "Age" %>
	    <%= f.text_area :age ,:class => "form-control"%>
	</div>
	
	<div class="form-group">
	    <%= f.label :birth_day, "Birth Day" %>
	    <%= f.date_select :birth_day ,:class => "form-control"%>
	</div>


    <%= f.submit @sub, :class => "btn btn-primary"%>
<% end %>

