<h1>"Hello Badminton"</h1>

<ul>
<% @players.each do |player| %>
  <li>
 	  <%= player.name %>
  <%= link_to 'Show', :controller => 'players', :action => 'show', :id => player %>
  <%= link_to 'Edit', :controller => 'players', :action => 'edit', :id => player %>
  <%= link_to 'Delete', :controller => 'players', :action => 'destroy', :id => player %>
  </li>
<% end %>
</ul>
<%= link_to 'New player', :controller => 'players', :action => 'new' %>