<h1>World Badminton Players</h1>
<table class="table table-striped" >
<tr>Players Name</tr>
<tr>
<% @players.each do |player| %>
	<td><%= player.name %></td>
	<td>
  <%= link_to 'Show' ,  player_path(player) ,:class => "btn btn-info"%>
  <%= link_to 'Edit',  players_path(:id => player.id) ,:class => "btn btn-primary" %>
  <%= link_to 'Delete', player_path(player), :method => :delete, :data => { :confirm => "Are you sure?"}, :class => "btn btn-danger" %>
  </td>
  </tr>
<% end %>
</table>

<p>Please register your favorite player below </p>

<%= form_for @player do |f| %>
	<div class="form-group">
	<%= f.label :name,"Name" %>
	<%= f.text_field :name ,:class => "form-control"%>		
	</div>

	<div class="form-group">
    <%= f.label :rank, "rank" %>
    <%= f.text_area :rank ,:class => "form-control"%>
	</div>

    <%= f.submit @sub, :class => "btn btn-primary"%>
<% end %>

<%= link_to 'New player', new_player_path , :class => "btn btn-success" %>
<%= paginate @players %>