<h1>"New Player"</h1>

<%= form_for @player, :url => { :controller => 'players', :action => 'create' } do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :rank, "rank" %>
    <%= f.text_area :rank %>

    <%= f.submit "Create" %>
<% end %>