<h1> <%= @player.name%> 's profile</h1>

<p> Name : <%= @player.name %> </p>
<p>	Rank : <%= @player.rank %></p>
<p>	Age  : <%= @player.age %></p>
<p>	Birth Day  : <%= @player.birth_day %></p>
<p><%= link_to 'Back to index', players_path ,:class => "btn btn-primary"%></p>




